* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(21, 32, 43);
}
ul {
  list-style: none;
}
.App {
  font-family: sans-serif;
  position: relative;
  display: flex;
  justify-content: space-between;
}
